<h1>Movies Edit State</h1>

<!-- ng-submit allows you to add event handler -->
<form ng-submit="controller.editMovie()">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <!-- input field for title -->
            <div class="form-group">
                <label>Title</label>
                <input type="text" ng-model="controller.movieToEdit.title" class="form-control" />
            </div>
            <!-- input field for director -->
            <div class="form-group">
                <label>Director</label>
                <input type="text" ng-model="controller.movieToEdit.director" class="form-control" />
            </div>
            <!-- submit button -->
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
                <input type="button" value="Cancel" ng-click="controller.cancel()"  class="btn btn-warning"/>
            </div>
        </div>
    </div>
</form>